* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  margin: 10px;
}

table img {
  vertical-align: middle;
}

table,
td,
tr {
  border-spacing: 0;
  border: 3px solid black;
}

.table__col {
  border: 8px solid #322b1e;
  padding: 20px;
}

.table__col--main {
  background-color: white;
}

.table__col--additional {
  background-color: yellow;
}

.table__col--secondary {
  background-color: red;
}

.table__col--filled {
  background-color: black;
  width: 10vw;
}

.table__col--unique {
  background-color: blue;
  padding: 10px 70px;
}

.subnav {
  width: auto;
}

.small {
  padding: 10px;
}

.big {
  padding: 90px;
}

.long {
  padding: 10px;
}

.wider-line {
  padding: 40px 10px;
}
